<% content_for :head do %>
    <title><%= @project.name %> | Code4startup</title>
    
    <!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@code4startup">
	<meta name="twitter:creator" content="@code4startup">
	<meta name="twitter:title" content="<%= @project.name %>">
	<meta name="twitter:description" content="<%= @project.content %>">
	<meta name="twitter:image:src" content="<%= image_url @project.image %>">

	<!-- Open Graph data -->
	<meta property="og:site_name" content="Code4Pro">
	<meta property="og:type" content="website">
	<meta property="og:title" content="<%= @project.name %>">
	<meta property="og:description" content="<%= @project.content %>">
	<meta property="og:image" content="<%= @project.image %>">
	<meta property="og:image:width" content="539">
	<meta property="og:image:height" content="238">
<% end %>

<div class="row">
    <div class="col m4">
        <div class="card z-depth-2">
            
            <% if !@joined %>
            
                <div class="card-content center">
                    <h1><%= @project.price == 0 ? " Free" : "$#{@project.price}" %></h1>
                </div>
                <div class="card-action center">
                    
                    <% if user_signed_in? %>
                    
                        <% if @project.price == 0  %>
                    
                            <%= form_tag free_path do %>
                                <%= hidden_field_tag 'project_id', @project.id %>
                                <button type="submit" class="btn waves-effect waves-light pink darken-2">Take this Project</button>
                            <% end %>
                        <% else %>
                            <%= form_tag pay_path, id: 'chargeForm' do %>
                            
                                <script src="https://checkout.stripe.com/checkout.js"></script>
                                <%= hidden_field_tag 'stripeToken' %>
                                <%= hidden_field_tag 'stripeEmail' %>
                                <%= hidden_field_tag 'project_id', @project.id %>
                                
                                <button id="customButton" type="button" class="btn waves-effect waves-light pink darken-2">Take this Project</button><br/>
                                
                                <script>
                                var handler = StripeCheckout.configure({
                                  key: 'pk_test_32OSbVCQKylGc94zscGE3IlA',
                                //   image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
                                  locale: 'auto',
                                  token: function(token, arg) {
                                    // You can access the token ID with `token.id`.
                                    // Get the token ID to your server-side code for use.
                                    $('#stripeToken').val(token.id);
                                    $('#stripeEmail').val(token.email);
                                    $('#chargeForm').submit();
                                  }
                                });
                                
                                document.getElementById('customButton').addEventListener('click', function(e) {
                                  // Open Checkout with further options:
                                  handler.open({
                                    name: 'Code4startup',
                                    description: '<%= @project.name %>',
                                    amount: <%= @project.price_in_cents %>,
                                    email: '<%= current_user.email %>'
                                  });
                                  e.preventDefault();
                                });
                                
                                // Close Checkout on page navigation:
                                window.addEventListener('popstate', function() {
                                  handler.close();
                                });
                                </script>                        
                            <% end %>
                        
                        <% end %>
                        


                    <% else %>
                        <%= link_to new_user_session_path do %>
                            <button type="submit" class="btn waves-effect waves-light pink darken-2">Take this Project</button>
                        <% end %>
                    <% end %>
        
                </div>
                
            <% else %>
            
                <div class="card-content center">
                    <%= avatar_url current_user %></br>
                    <h5><%= current_user.name %></h5>
                </div>
                <div class="card-action center">
                    <% @users.each do |u| %>
                        <span class="valign-wrapper">
                            <%= avatar_url u %>&nbsp;
                            <%= u.name %>
                        </span><br />
                    <% end %>
                </div>            
            
            <% end %>
            

            
        </div>
    </div>
    
    <div class="col m8">
        <div class="card z-depth-2">
            <div class="card-image">
                <%= image_tag @project.image(:medium) %>
            </div>
            
            
             <div class="row">
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#about">About</a></li>
                    <li class="tab col s3"><a href="#videos">Videos</a></li>
                    <li class="tab col s3"><a href="#discussions">Discussion</a></li>
                  </ul>
                </div>
                <div id="about" class="col s12">
                    <div class="card-content grey-text text-darken-4">
                        <h5><%= @project.name %></h5>
                        <span id="avarage_rating"></span>
                        <span> from <%= pluralize(@reviews.count, 'review') %></span>
                        <hr>
                        <%= @project.content %>
                        
                        <h4>Reviews</h4>
                        <div>
                            <%= render 'reviews/form' if @joined && !@hasReviews %>
                        </div>
                        <div>
                            <%= render 'reviews/index' %>
                        </div>
                    </div>
                </div>
                <div id="videos" class="col s12">
                    <div class="collection">
                        <% @tasks.each do |task| %>
                            <% if task.header %>
                                <div class="collection-item active">
                                    <i class="mdi-social-school"> <%= task.title %></i>
                                </div>
                            <% else %>
                                <%= link_to [task.project, task], class: "collection-item" do %>
                                    <%= task.title %>
                                <% end %>                        
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div id="discussions" class="col s12">
                    there will be something
                </div>
            </div>
            
            
            
            
            
            
            
            
            
            
            


        </div>
    </div>
    
</div>

<script>
    $('#avarage_rating').raty({
       path: '/assets',
       readOnly: true,
       score: <%= @project.average_rating %>
    });
</script>
